# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Qdrant Data
qdrant_data/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Logs
*.log

# Backup data
qdrant_data_backup/

# SQLite (dev accounts db)
*.db